.home-container{
    width: 60%;
}
.info{
    width:15rem;
    position: relative;
    bottom: 103px;
    right: 100px;

}
.info1{
    width:15rem;
    position: relative;
    bottom: 103px;
    right: 150px;

}
.medi{
    position: relative;
    left:150px;
    top: 60px;

}

.montu{
    width:18rem;
    position: relative;
    top: 10px;
    right: 100px;

}
.montu1{
    width:15rem;
    position: relative;
    top: 10px;
    right: 150px;
}
.box1{
    width:15rem;
    position: relative;
    top: 10px;
    right: 250px;
    height: 200;
}
.box2{
    width:15rem;
    position: relative;
    top: 10px;
    right: 405px;
    height: 200;
}
.box3{
    width:15rem;
    position: relative;
    left: 200px;
    height: 200;
    bottom:200px;
    right: 450px;
}
.box4{
    width:15rem;
    position:relative;
    left:50px;
    height: 200;
    bottom:200px;
    right:450px;
}
.box5{
    width:15rem;
    position:relative;
    left:650px;
    height: 200;
    bottom:407px;
    right:50px;
}

